*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #e7e7e7;
	color: #3c3c3c;
	font-family: "Roboto", sans-serif;
	min-height: 100vh;
}

.container {
	padding: 2rem;
	width: min(90%, 70rem);
	margin-inline: auto;
	background-color: #f8f8f8;
	min-height: 100vh;
}

section {
	padding: 2rem;
}

h1 {
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 1rem;
}

h2 {
	font-size: 1.5rem;
	font-weight: 500;
	margin-bottom: 1rem;
}

.container p {
	line-height: 1.7;
}

ul {
	list-style: none;
}

.feature-cards {
	display: flex;
	gap: 1.5rem;
}

.feature-cards li {
	flex: 1;
	padding: 1rem;
	background-color: #fff;
	border: 1px solid #d5d5d5;
	border-radius: 0.5rem;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

/* FAQ --- */
details {
	padding: 1rem;
	border: 1px solid #e7e7e7;
	border-radius: 0.5rem;
}

summary {
	cursor: pointer;
	font-weight: 500;
	font-size: 1.25rem;
}

details p {
	margin: 1rem;
	line-height: 1.7;
}

/* Contact Us --- */
#contactInfo {
	padding: 2rem;
	background-color: #e7e7e7;
	border-radius: 0.5rem;
}

.label {
	color: #7c7c7c;
}
.data {
	font-size: 1.25rem;
	line-height: 1.7;
	color: #3c3c3c;
}
